.box-header {
  position: relative;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

.box-header button {
  position: absolute;
  right: -50px;
  top: -10px;
  top: 0px;
  right: -30px;
}

.sales-rep {
  padding: 8px;
}

.box-content {
  margin-inline: auto;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.content-containers {
  border: 1px solid black;
  width: 45%;
  flex: 1 2 auto;
  padding: 8px;
}

.content-containers * {
  padding-block: 1px;
}

.content-containers p:first-child {
  font-size: 18px;
  font-weight: bold;
  color: purple;
}

.button-control {
  display: flex;
  justify-content: space-between;
}
