.box-header {
  position: relative;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

.box-header button {
  position: absolute;
  top: -30px;
  right: -50px;
}

.sales-rep {
  padding: 8px;
}

.box-content {
  margin-inline: auto;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.content-containers {
  border: 1px solid black;
  width: 49%;
  height: 100px;
  flex: 1 2 auto;
}

.content-containers * {
  padding-block: 2px;
}
